target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*~
*_?ats.c
*_?ats.o
*_?ats.js
workspace.xml
junitvmwatcher*.properties
build.properties
classes_gen
source_gen
source_gen.caches
test_gen
test_gen.caches
TEST-*.xml
junit*.properties
.java-version
.jenv-version
*.class
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.buildpath
.target
.tern-project
.texlipse
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet
bluej.pkh
Thumbs.db
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/
*.sbr
*.sdf
obj/
[Rr]elease/
[Rr]elease.win32/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf
*.opendb
SubmissionInfo
Generated Files
AppPackages
BundleArtifacts
.vs/
libs/
gen/
assets/
*.pyc
build_*_xcode/
build_*_vc10/
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/
.idea/
.Simulator-Debug/
.Target-Debug/
.Target-Release/
Simulator/
Device-Debug/
Device-Release/
*.swo
projects/
tools/tojs/user.cfg
tools/tojs/userconf.ini
tools/tolua/userconf.ini
tools/jenkins_scripts/mac/android/userconf.ini
tags
/lib
/build/linux-build
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CMakeLists.txt.user
build/build/
cocos/scripting/lua-bindings/proj.ios_mac/build/
tests/*/runtime/
tests/*/publish/
tests/*/project/proj.android-studio/app/build.xml
tests/*/project/proj.android-studio/app/proguard-project.txt
tests/*/proj.android-studio/app/build.xml
tests/*/proj.android-studio/app/proguard-project.txt
project.properties
/external/*
!/external/config.json
/templates/lua-template-runtime/runtime
/v*-deps-*.zip
/v*-lua-runtime-*.zip
/v*-console-*.zip
/tools/fbx-conv/
tests/cpp-tests/Resources/audio
/tests/lua-empty-test/src/cocos/
/tests/lua-game-controller-test/src/cocos/
/tests/lua-tests/src/cocos/
/tests/js-tests/res/
/tools/framework-compile/bin/proj_modifier/plutil-win32/
!/tools/framework-compile/bin/
/templates/*-template-binary/
/prebuilt/
/*/prebuilt-mk/Android.mk
/*/*/prebuilt-mk/Android.mk
/*/*/*/prebuilt-mk/Android.mk
/*/*/*/*/prebuilt-mk/Android.mk
*.xcscmblueprint
*.7z
*.s7z
*.ace
*.afa
*.alz
*.apk
*.arc
*.arj
*.b1
*.ba
*.bh
*.cab
*.car
*.cfs
*.cpt
*.dar
*.dd
*.dgc
*.dmg
*.egg
*.gca
*.ha
*.hki
*.ice
*.kgb
*.lzh
*.lha
*.lzx
*.pak
*.partimg
*.paq*
*.pea
*.pim
*.pit
*.qda
*.rk
*.sda
*.sea
*.sen
*.sfx
*.shk
*.sit
*.sitx
*.sqx
*.tgz
*.tar.Z
*.tar.bz2
*.tbz2
*.tar.lzma
*.tlz
*.uc
*.uc0
*.uc2
*.ucn
*.ur2
*.ue2
*.uca
*.uha
*.wim
*.xar
*.xp3
*.yz1
*.zipx
*.zoo
*.zpaq
*.zz
*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
config/initializers/secret_token.rb
config/master.key
.env
.env*.local
/.bundle
/vendor/bundle
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history
node_modules/
/public/packs
/public/packs-test
/public/assets
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/storage/*
!/storage/.keep
/public/uploads
bin/**
tmp/**
tmp/**/*
.studio/
flows/
**/*.mflow
catalog/
reports/
.mule/
*.ap_
*.aab
*.dex
out/
.gradle
.gradle/
.signing/
proguard/
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.jks
*.keystore
gen-external-apklibs
.externalNativeBuild
/out/
.idea/caches/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/navEditor.xml
.idea_modules/
atlassian-ide-plugin.xml
.idea/mongoSettings.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/jssrc/*
!/resources/customlibs/jsSrc
ant-contrib-0.6.jar
binaries/
/.webmeta
/.meta
middleware.properties
modules/kony_sdk.js
modules/KonySyncLib.js
resources/customlibs/sdkplugin.properties
resources/customlibs/lib/android/
resources/customlibs/lib/tabrcandroid/
resources/customlibs/lib/iphone/
resources/customlibs/lib/ipad/
resources/customlibs/lib/windows10/
resources/customlibs/lib/winphone10/
resources/customlibs/jsSrc/android/com/konylabs/ffi/N_KonyLogger.java
resources/customlibs/jsSrc/tabrcandroid/com/konylabs/ffi/N_KonyLogger.java
resources/customlibs/jsSrc/kiosk/KonyLogger.js
resources/customlibs/jsSrc/kiosk/KonyLogger.xml
resources/customlibs/jsSrc/windows8/KonyLogger.js
resources/customlibs/jsSrc/windows8/KonyLogger.xml
resources/customlibs/jsSrc/winmobile/KonyLogger.js
resources/customlibs/jsSrc/winmobile/KonyLogger.xml
resources/customlibs/jsSrc/winphone8/KonyLogger.js
resources/customlibs/jsSrc/winphone8/KonyLogger.xml
resources/customlibs/jsSrc/winphone81s/KonyLogger.js
resources/customlibs/jsSrc/winphone81s/KonyLogger.xml
resources/customlibs/jsXml/KonyLogger.js
resources/customlibs/jsXml/KonyLogger.xml
resources/customlibs/jsSrc/kiosk/SSOFFI.js
resources/customlibs/jsSrc/kiosk/SSOFFI.xml
resources/customlibs/jsSrc/windows8/SSOFFI.js
resources/customlibs/jsSrc/windows8/SSOFFI.xml
resources/customlibs/jsSrc/winmobile/SSOFFI.js
resources/customlibs/jsSrc/winmobile/SSOFFI.xml
resources/customlibs/jsSrc/winphone8/SSOFFI.js
resources/customlibs/jsSrc/winphone8/SSOFFI.xml
resources/customlibs/jsSrc/winphone81s/SSOFFI.js
resources/customlibs/jsSrc/winphone81s/SSOFFI.xml
resources/customlibs/jsXml/SSOFFI.js
resources/customlibs/jsXml/SSOFFI.xml
resources/customlibs/jsSrc/android/com/konylabs/ffi/ND_binary_util.java
resources/customlibs/jsSrc/android/com/konylabs/ffi/N_binarydata.java
resources/customlibs/jsSrc/tabrcandroid/com/konylabs/ffi/ND_binary_util.java
resources/customlibs/jsSrc/tabrcandroid/com/konylabs/ffi/N_binarydata.java
resources/customlibs/jsXml/binary.util.js
resources/customlibs/jsXml/binary.util.xml
resources/customlibs/jsXml/binarydata.js
resources/customlibs/jsXml/binarydata.xml
HeadlessBuild.properties
HeadlessBuild-Global.properties
/nativeapi.json
/nativebindings/Android/*/Kony_SyncV2-Android-*.zip
/nativebindings/Android/*/Kony_SyncV2-Android-*/tern.json
/nativebindings/iOS/*/Kony_SyncV2-iOS-*.zip
/nativebindings/iOS/*/Kony_SyncV2-iOS-*/tern.json
resources/mobile/native/android/values/widgetids.xml
resources/tablet/native/androidtab/values/widgetids.xml
node_modules
cordovatemp
web/cordova/plugins
web/cordova/platforms
resources/i18n/
velocity.log
/_clouddata/
/appSettings.xml
/context.properties
/defaults/
/projectsplash.xml
/windowsViews.xml
.idea
out
gen
target
results
.ballerina
/gen
/compiler/ballerina-lang/src/main/resources/grammar/BallerinaLexer.tokens
/tool-plugins/intellij/src/main/antlr/org/ballerinalang/plugins/idea/grammar/BallerinaLexer.tokens
/composer/modules/web/dist-electron/
/composer/modules/web/dist-electron
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.vscode
plugins/**/*
files
db/sql
javascripts/bundles
stylesheets/bundles
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/flutter_sdk
.packages
.pub-cache/
.pub/
coverage/
lib/generated_plugin_registrant.dart
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
**/build/
!src/**/build/
!gradle-wrapper.properties
*#*#
*.#*
*.pyo
.cache
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.pydevproject
/lib/
R-unit-tests.log
R/unit-tests.out
R/cran-check.out
R/pkg/vignettes/sparkr-vignettes.html
R/pkg/tests/fulltests/Rplots.pdf
build/*.jar
build/apache-maven*
build/scala*
build/zinc*
cache
checkpoint
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
conf/java-opts
conf/slaves
derby.log
dev/create-release/*final
dev/create-release/*txt
dev/pr-deps/
dist/
docs/_site
docs/api
sql/docs
sql/site
lib_managed/
lint-r-report.log
log/
logs/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
python/lib/pyspark.zip
python/deps
python/test_coverage/coverage_data
python/test_coverage/htmlcov
python/pyspark/python
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
spark-*-bin-*.tgz
spark-tests.log
src_managed/
streaming-tests.log
unit-tests.log
work/
docs/.jekyll-metadata
TempStatsStore/
metastore/
metastore_db/
sql/hive-thriftserver/test_warehouses
warehouse/
spark-warehouse/
.RData
.RHistory
.Rhistory
*.Rproj
*.Rproj.*
.Rproj.user
.jvmopts
.data/
temp/
classes/
deploy/
javadoc/
cwallet.sso.lck
pubspec.lock
doc/api/
.env*
*.dart.js
*.info.json      # Produced by the --dump-info flag.
*.js             # When generated by dart2js. Don't specify *.js if your
*.js_
*.js.deps
*.js.map

/src/main/resources/META-INF/persistence.xml

